In [9]:
import sqlite3
import json
from pathlib import Path
from datetime import date
import datetime as dt
import pandas as pd
from utils.global_utils import *
DATA_PATH = Path('data')
CONN = sqlite3.connect(DATA_PATH / 'account_management.db')
CURSOR = CONN.cursor()

In [18]:
date.today()

datetime.date(2023, 9, 1)

In [4]:
# Fetch all expenses from the database
CURSOR.execute(f"SELECT * FROM expenses")
table_data = CURSOR.fetchall()

df1 = pd.DataFrame(table_data)

In [13]:
expenses_df = get_df_from_table(CONN, CURSOR, 'expenses')
recettes_df = get_df_from_table(CONN, CURSOR, 'recettes')

In [16]:
expenses_df

,id,date,description,category,sub_category,amount
135,142,2023-06-05,habits guerissol,Achats,vêtement,17.0
136,143,2023-06-05,baguettes,Alimentation,Courses,1.1
134,141,2023-06-05,courses,Alimentation,Courses,22.0
139,146,2023-06-05,bières tancrède,Les pêchés du soir,bar,13.0
133,140,2023-06-05,loyer Juin,Logement,Loyer,690.0
...,...,...,...,...,...,...
154,161,2023-08-21,kdo Antoine,Achats,cadeaux,5.2
157,164,2023-08-22,ticket festival rennes,Entretien personnel,culture,49.9
155,162,2023-08-22,courses nems etc,Alimentation,Courses,19.0
156,163,2023-08-22,investissements aout,Épargne,investissement,50.0
158,165,2023-08-22,marlusse et lapin tournée,Les pêchés du soir,bar,28.0

In [15]:
# expenses_df.to_csv('data/ugo_expenses.csv', index=False)
# recettes_df.to_csv('data/ugo_recettes.csv', index=False)

In [19]:
# Form inputs for adding a new expense
the_id = expenses_df.id.max() + 1 
spending_date = "09-12-1999"
description = "test csv"

selected_catego = "catego_test"

sub_category = "sub catego test"
amount = 39

add_row = [the_id, spending_date, description, selected_catego, sub_category, amount]

In [23]:
expenses_df.loc[len(expenses_df)] = add_row

In [24]:
expenses_df

,id,date,description,category,sub_category,amount
135,142,2023-06-05 00:00:00,habits guerissol,Achats,vêtement,17.0
136,143,2023-06-05 00:00:00,baguettes,Alimentation,Courses,1.1
134,141,2023-06-05 00:00:00,courses,Alimentation,Courses,22.0
139,146,2023-06-05 00:00:00,bières tancrède,Les pêchés du soir,bar,13.0
133,140,2023-06-05 00:00:00,loyer Juin,Logement,Loyer,690.0
...,...,...,...,...,...,...
157,164,2023-08-22 00:00:00,ticket festival rennes,Entretien personnel,culture,49.9
155,162,2023-08-22 00:00:00,courses nems etc,Alimentation,Courses,19.0
156,163,2023-08-22 00:00:00,investissements aout,Épargne,investissement,50.0
158,165,2023-08-22 00:00:00,marlusse et lapin tournée,Les pêchés du soir,bar,28.0
159,166,09-12-1999,test csv,catego_test,sub catego test,39.0

In [35]:
df1.compare(df2, align_axis = 0).reset_index().level_0.unique()

array([1])

In [33]:
df1.compare(df2, align_axis=0, keep_shape=False, keep_equal=False, result_names=('self', 'other'))

                  1                   2       3             4      5
1 self   2023-08-12  Disque dur toshiba  Achats  électronique  69.99
  other           3                   2       3             3   4.00

In [18]:
d = {1: 'a', 2:'z'}

In [20]:
tuple([1,2])

(1, 2)

In [17]:
[col for col in ['a', 'b', 'id'] if col != 'id']

['a', 'b']

In [16]:
pd.DataFrame(table_data, columns=column_names.values())

,id,date,description,category,sub_category,amount
0,1,2023-08-12,Camping séminaires Descartes,Vacances,logement,97.00
1,2,2023-08-12,Disque dur toshiba,Achats,électronique,69.99
2,3,2023-08-11,inconnu,Autres,inconnu,1.50
3,4,2023-08-08,bar descartes,Les pêchés du soir,bar,18.00
4,5,2023-08-08,tabac,Les pêchés du soir,tabac,20.10
5,6,2023-08-07,chaussures,Achats,vêtement,10.00
6,7,2023-08-07,franprix courses,Alimentation,Courses,16.03
7,8,2023-08-07,clope electro,Achats,CE,17.80
8,9,2023-08-07,Kebab falafel,Les pêchés du soir,Kebab,17.00
9,10,2023-08-03,coupe vent rouge,Achats,vêtement,8.83
10,11,2023-08-03,loyer aout,Logement,Loyer,690.00
11,12,2023-08-02,courses,Alimentation,Courses,7.50
12,13,2023-08-02,Bouillon avec sacha (me doit 30 balles mdr),Les pêchés du soir,restaurants,60.00
13,15,2023-07-31,retraits,Autres,retraits,10.00
14,16,2023-07-31,Antarius,Autres,Antarius,300.00
15,17,2023-07-31,retraits,Autres,retraits,30.00
16,18,2023-07-31,kebab,Les pêchés du soir,Kebab,8.50
17,19,2023-07-31,deauville croissants,Vacances,autres,7.30
18,20,2023-07-31,deauville autre,Vacances,autres,14.00
19,21,2023-07-31,deauville minigolf,Vacances,activités,40.00
20,22,2023-07-28,carte commune,Alimentation,virement compte commun,200.00
21,23,2023-07-28,resto indien,Les pêchés du soir,restaurants,25.75

In [37]:
CONN.close()

In [26]:
with open(DATA_PATH / 'categories.json', 'r') as json_file:
    data = json.load(json_file)

In [27]:
# Create the users table if it doesn't exist
CURSOR.execute('''
    CREATE TABLE IF NOT EXISTS expenses (
    id INTEGER PRIMARY KEY,
    date DATE,
    description TEXT,
    category TEXT,
    sub_category TEXT,
    amount REAL
);
''')

In [28]:
CURSOR.execute('''
    CREATE TABLE IF NOT EXISTS recettes (
    id INTEGER PRIMARY KEY,
    date DATE,
    description TEXT,
    category TEXT,
    amount REAL
);
''')

In [31]:
# Form inputs
spending_date =  date.today()
description = "test"
category = "test"
sub_cat = "test"
amount = 74

CURSOR.execute("INSERT INTO expenses (date, description, category, sub_category, amount) VALUES (?, ?, ?, ?, ?)",
            (spending_date, description, category, sub_cat, amount))

In [33]:
# Fetch all expenses from the database
CURSOR.execute("SELECT * FROM expenses")
expenses = CURSOR.fetchall()

# Print the fetched expenses
for expense in expenses:
    print(expense)

(1, '2023-08-15', 'test', 'test', 'test', 74.0)

In [35]:
CURSOR.close(
)

In [36]:
CURSOR