In [1]:
import streamlit as st
import pandas as pd
import altair as alt
from utils.global_utils import *
import numpy as np

In [6]:
from pyicloud import PyiCloudService
import os
import click
import datetime

In [7]:
api = PyiCloudService('ugo.muhi@gmail.com', 'Akfarfila17!')
if api.requires_2fa:
    print("Two-factor authentication required. Your trusted devices are:")

    devices = api.trusted_devices
    for i, device in enumerate(devices):
        print(
            "  %s: %s"
            % (i, device.get("deviceName", "SMS to %s" % device.get("phoneNumber")))
        )

    device = click.prompt("Which device would you like to use?", default=0)
    device = devices[device]
    if not api.send_verification_code(device):
        print("Failed to send verification code")
        sys.exit(1)

    code = click.prompt("Please enter validation code")
    if not api.validate_verification_code(device, code):
        print("Failed to verify verification code")
        sys.exit(1)

Two-factor authentication required. Your trusted devices are:
Which device would you like to use? [0]:

In [10]:
CONN, CURSOR = start_db(DB_NAME, DATA_PATH=DATA_PATH)
expense_df =  get_df_from_table(CONN, CURSOR, table_name='expenses')
expense_df = expense_df.set_index('date')

In [18]:
series_mth = []
for table_name in ['recettes', 'expenses']:
    df =  get_df_from_table(CONN, CURSOR, table_name=table_name)
    df = df.set_index('date')
    mth_data = df.groupby(pd.Grouper(freq='1m'))['amount'].sum()
    mth_data.name = table_name
    series_mth.append(mth_data)
total_mnthly = pd.concat(series_mth, axis=1)

In [19]:
total_mnthly

            recettes  expenses
date
2023-07-31   2422.56   2130.55
2023-08-31   1272.56   1137.75