In [12]:
import sqlite3
import json
from pathlib import Path
from datetime import date
import pandas as pd

DATA_PATH = Path('data')
CONN = sqlite3.connect(DATA_PATH / 'account_management.db')
CURSOR = CONN.cursor()

In [4]:
pip install SQLAlchemy mysqlclient

Collecting SQLAlchemy
  Obtaining dependency information for SQLAlchemy from https://files.pythonhosted.org/packages/fe/1c/d3ca3095528c262125251ee42782086d1d2bad4e59adf0dbdd9540147c23/SQLAlchemy-2.0.20-cp310-cp310-macosx_10_9_x86_64.whl.metadata
  Using cached SQLAlchemy-2.0.20-cp310-cp310-macosx_10_9_x86_64.whl.metadata (9.4 kB)
Collecting mysqlclient
  Using cached mysqlclient-2.2.0.tar.gz (89 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [22 lines of output]
      Trying pkg-config --exists mysqlclient
      Command 'pkg-config --exists mysqlclient' returned non-zero exit status 1.
      Trying pkg-config --exists mariadb
      Command 'pkg-config --exists mariadb' returned non-zero exit status 1.
      Traceback (most recent call last):
        File "/Users/muhieddineugo/miniconda3/envs/my_account/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 353, in <module>
          main()
        File "/Users/muhieddineugo/miniconda3/envs/my_account/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
        File "/Users/muhieddineugo/miniconda3/envs/my_account/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
        File "/private/var/folders/17/nbyq4zpd1ys5gm9fpsnxxq740000gn/T/pip-build-env-xmx__io8/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 355, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
        File "/private/var/folders/17/nbyq4zpd1ys5gm9fpsnxxq740000gn/T/pip-build-env-xmx__io8/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 325, in _get_build_requires
          self.run_setup()
        File "/private/var/folders/17/nbyq4zpd1ys5gm9fpsnxxq740000gn/T/pip-build-env-xmx__io8/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 341, in run_setup
          exec(code, locals())
        File "<string>", line 154, in <module>
        File "<string>", line 48, in get_config_posix
        File "<string>", line 27, in find_package_name
      Exception: Can not find valid pkg-config name.
      Specify MYSQLCLIENT_CFLAGS and MYSQLCLIENT_LDFLAGS env vars manually
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import streamlit as st

conn = st.experimental_connection('my_account_testing', type='sql')

ModuleNotFoundError: No module named 'sqlalchemy'. You need to install the 'sqlalchemy' package to use this connection.

In [13]:
table_name = 'expenses'
# Fetch column names from the database table
CURSOR.execute(f"PRAGMA table_info(expenses)")
column_data = CURSOR.fetchall()
column_names = {col[0]: col[1] for col in column_data}

In [26]:
# Fetch all expenses from the database
CURSOR.execute(f"SELECT * FROM {table_name}")
table_data = CURSOR.fetchall()

df1 = pd.DataFrame(table_data)

In [27]:
df2 = df1.copy()
df2.iloc[1] = (2,3,2,3,3,4)

In [35]:
df1.compare(df2, align_axis = 0).reset_index().level_0.unique()

array([1])

In [33]:
df1.compare(df2, align_axis=0, keep_shape=False, keep_equal=False, result_names=('self', 'other'))

                  1                   2       3             4      5
1 self   2023-08-12  Disque dur toshiba  Achats  électronique  69.99
  other           3                   2       3             3   4.00

In [18]:
d = {1: 'a', 2:'z'}

In [20]:
tuple([1,2])

(1, 2)

In [17]:
[col for col in ['a', 'b', 'id'] if col != 'id']

['a', 'b']

In [16]:
pd.DataFrame(table_data, columns=column_names.values())

,id,date,description,category,sub_category,amount
0,1,2023-08-12,Camping séminaires Descartes,Vacances,logement,97.00
1,2,2023-08-12,Disque dur toshiba,Achats,électronique,69.99
2,3,2023-08-11,inconnu,Autres,inconnu,1.50
3,4,2023-08-08,bar descartes,Les pêchés du soir,bar,18.00
4,5,2023-08-08,tabac,Les pêchés du soir,tabac,20.10
5,6,2023-08-07,chaussures,Achats,vêtement,10.00
6,7,2023-08-07,franprix courses,Alimentation,Courses,16.03
7,8,2023-08-07,clope electro,Achats,CE,17.80
8,9,2023-08-07,Kebab falafel,Les pêchés du soir,Kebab,17.00
9,10,2023-08-03,coupe vent rouge,Achats,vêtement,8.83
10,11,2023-08-03,loyer aout,Logement,Loyer,690.00
11,12,2023-08-02,courses,Alimentation,Courses,7.50
12,13,2023-08-02,Bouillon avec sacha (me doit 30 balles mdr),Les pêchés du soir,restaurants,60.00
13,15,2023-07-31,retraits,Autres,retraits,10.00
14,16,2023-07-31,Antarius,Autres,Antarius,300.00
15,17,2023-07-31,retraits,Autres,retraits,30.00
16,18,2023-07-31,kebab,Les pêchés du soir,Kebab,8.50
17,19,2023-07-31,deauville croissants,Vacances,autres,7.30
18,20,2023-07-31,deauville autre,Vacances,autres,14.00
19,21,2023-07-31,deauville minigolf,Vacances,activités,40.00
20,22,2023-07-28,carte commune,Alimentation,virement compte commun,200.00
21,23,2023-07-28,resto indien,Les pêchés du soir,restaurants,25.75

In [37]:
CONN.close()

In [26]:
with open(DATA_PATH / 'categories.json', 'r') as json_file:
    data = json.load(json_file)

In [27]:
# Create the users table if it doesn't exist
CURSOR.execute('''
    CREATE TABLE IF NOT EXISTS expenses (
    id INTEGER PRIMARY KEY,
    date DATE,
    description TEXT,
    category TEXT,
    sub_category TEXT,
    amount REAL
);
''')

In [28]:
CURSOR.execute('''
    CREATE TABLE IF NOT EXISTS recettes (
    id INTEGER PRIMARY KEY,
    date DATE,
    description TEXT,
    category TEXT,
    amount REAL
);
''')

In [31]:
# Form inputs
spending_date =  date.today()
description = "test"
category = "test"
sub_cat = "test"
amount = 74

CURSOR.execute("INSERT INTO expenses (date, description, category, sub_category, amount) VALUES (?, ?, ?, ?, ?)",
            (spending_date, description, category, sub_cat, amount))

In [33]:
# Fetch all expenses from the database
CURSOR.execute("SELECT * FROM expenses")
expenses = CURSOR.fetchall()

# Print the fetched expenses
for expense in expenses:
    print(expense)

(1, '2023-08-15', 'test', 'test', 'test', 74.0)

In [35]:
CURSOR.close(
)

In [36]:
CURSOR